<html>
    <head>
        <%- include("partials/head", {title: null, desc: null }) %>
    </head>
    <body>
        <%- JSON.stringify(stats) %> 
        <%- include("partials/footer") %>
    </body>
</html>